body{
    margin: 0%;
    font-family: 'Bebas Neue', cursive;
}
/*top-menu*/
.wrapper {
	width: 100%;
}
.main-header {
	
	width: 100%;	
	height: 60px;
}
.main-header  h1{
	float: left;
	margin: 11px 5px;
	color: #073a4f;
}
.main-nav-links li {
	padding-left: 3%;
	list-style: none;
	display: inline-block;
	padding-right:10px;
}
.main-nav-links li a {
  margin-right:10px;
  margin-left:10px;
  text-decoration: none;
  display: block;
  color: #073a4f;
}
ul{
    margin-left: 65%;
}
li:hover {
	border-radius:10px;
	transition:0.7s;
  background-color: tomato;
}
/*top-menu*/

/*first-section */
.top-sec{
    height: 500px;
}
.left-part{
    float: left;
    width: 40%;
    margin-left: 10%;
}
.right-part{
    float: left;
    width: 40%;
    margin-left: 6%;
}
.first-highlight{
color: #363958;
}
.last-highlight{
    color:#FF8367;
}
.img{
    width: 70%;
    padding-top: 5%;
}
h1{
    margin-bottom: 0%;
font-size: 58px;
}
.para-highlight{
    color:#3E3E3E;
    margin-top: 0%;
    padding-bottom: 5%;
    padding-right: 30%;
}
.top-bt{
    font-size: 20px;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    padding: 5px 25px;
    background-image: linear-gradient(to right,#c13991, #924348);
    border-radius: 5%;
}
.top-bt:hover{
    background-image: linear-gradient(to right, #7b4397, #dc2430);
}
/*first-section*/

/*About Section */
.about{
    height: 500px;
}
.mid-blue{
    color: #363958;
    font-size: 35px;
}
.icon-bt{
    padding-left: 0%;
    width: 2%;
    position: absolute;
    margin-left: 6px;
}
.mid-bt{
    font-size: 20px;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    background-image: linear-gradient(100deg,#ad2452 0%, #a21d7f 51%, #e03b94 100%);
    border-radius: 5%;
    padding-left: 7%;
}
.mid-bt:hover{
	background-image:linear-gradient(to right, #e04579 0%, #ce47aa 51%, #dc3e93 100%);
	transition:1s;
}
.right{
   margin-top: 5%;
}
/*About Section*/
/*project */
.project{
    height: 500px;
    background-color: #f7f3f3;
    padding-bottom: 15%;
}
.column{
    padding: 1%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 30px grey;
    height: 65%;
    width: 25%;
    float: left;
    margin-left: 5%;
}
.box-img{
    width: 100%;
}
.b-head{
    padding-left: 5%;
}
.blue{
    color: #363958;
}
.middle{
    text-align: center;
    padding-top: 8%;
    margin-bottom: 5%;
}
/*project */
/*service*/
  .service{
      height: 450px;
      background-color:#f7f7f7f2;
  }
 .half-width{
     width: 25%;
     margin-left: 5%;
     float: left;
     text-align: center;
     padding: 1%;
     border-radius: 5px;
     padding-bottom: 2%;
 }
 .ltr-size{
    font-size: 45px;
    text-align: center;
    margin-bottom: 2%;
    padding-top: 2%;
 }

 .ser-img{
     width: 17%;
 }
 .review{
    padding: 0% 9%;
     color:#3E3E3E ;
 }
 .meta{
     color:  #363958;
}
.half-width:hover{
    box-shadow: 10px 10px 30px grey;
    transition: 0.8s;
}
/*service*/
/*footer*/
footer{
    height: 500px;
    padding-bottom: 70px;
}
.work-img{
    margin-left: 20%;
    width: 55%;
    margin-top: 10%;
}
.work-btn{
    position: absolute;
    margin-left: 60%;
    padding: 15px 25px;
    margin-top: 15%;
    border-radius: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  background: #b8539d;
  background-image: linear-gradient(to bottom, #b8539d, #80a9c2);  
}
.work-btn:hover{
    text-decoration: none;
 background-image: linear-gradient(to bottom, #fc3ca3, #9e6485);
}
.foot-txt{
    font-weight: 100;
    padding-left: 25%;
    padding-top: 12%;
    position: absolute;
    color: white;
    font-size: 56px;
}
.foot-last{
    text-align: center;
    margin-bottom: -2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #363958;
    margin-top: 3%;
}
.color{
    color:#3E3E3E;
    font-size: 18px;
}
.icon{
    padding-right: 3%;
    width: 4%;
}
.icons{
    margin-left: 45%;margin-top: 4%;
}
/*footer*/


